* {
    box-sizing: border-box;
}

h1 {
    margin: 2em 0 1.25em 0;
}

nav a {
    color: inherit;
    padding: 1em;
    text-underline-offset: 0.4em;
}

nav a:hover {
    text-decoration-thickness: 0.25em;
}

body {
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    text-align: center
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}

img {
width: 70vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 0;
}