* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

h1 {
    margin: 2em 0 1.25em 0;
    text-align: center;
}

h2 {
    max-width: 57em;
    margin: 0 auto;
}

p {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 5em 0;
    max-width: 57em;
    line-height: 2;
}

nav {
    text-align: center;
}

nav a {
    color: inherit;
    padding: 1em;
    text-underline-offset: 0.4em;
}

nav a:hover {
    text-decoration-thickness: 0.2em;
}

img {
    width: 70vw;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 4em 0;
}

iframe {
    width: 100%;
    height: 100vh;
    border: none;
}